/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

$primary: #ffffff;
$secondary: #ffffff;
$text-color-white: #eee;
$text-color-dark: #333;
$box-shadow: 4px 4px 49px -14px rgba(0, 0, 0, 0.75);
=======
:root {
  --primary: #ffffff;
  --secondary: #ffffff;
  --text-color-white: #eee;
  --text-color-dark: #333;
  --box-shadow: 4px 4px 49px -14px rgba(0, 0, 0, 0.75);
}
>>>>>>> 3d2a2f7386e615db420be0cfca1e406b7cd86233

body {
  font-family: 'Montserrat', sans-serif;
}
