/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #ffffff;
  --secondary: #ffffff;
  --text-color: #333;
}

body {
  font-family: 'Montserrat', sans-serif;
}
